<!DOCTYPE HTML>
<html>
<head>
    <title>ReWiki</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <style>
        div#status {
            width: 100%;
            height: 40px;
            display: none;
            background-color: green;
            padding: 10px;
        }
        div#status p {
            color: white;
        }
    </style>
</head>
<body>
<div id="status"></div>
<h1>Editor</h1>
<form id="editorform" method="POST">
    <input id="title" value="" />
<textarea id="editor">

</textarea>
    <button id="editorsubmit" type="button" value="Submit" onclick="submitEditor()">Submit</button>
</form>
<script>

    var PREFIX = "/";

    var simplemde = new SimpleMDE({ element: document.getElementById("editor") });

    function get_page() {
        return window.location.hash.substr(1);
    }

    function set_title(title) {
        document.getElementById("title").setAttribute("value", title);
    }

    function submitEditor() {
        fetch(PREFIX + 'content/' + get_page(), {
            method: 'post',
            body: JSON.stringify({
                content: simplemde.value()
            }),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(function(response) {
            console.log(response.statusCode + " " + response.statusText);
            document.getElementById("status").innerHTML = "<p>OK</p>";
            document.getElementById("status").style.display = "block";
        }).catch(function(err) {
            console.error("Got error," + err);
        })
    }


    var path = get_page();
    if (path !== null) {
        set_title(path);
        fetch(PREFIX + 'content/' + path + '/_content', {
            method: 'get'
        }).then(function(response) {
            response.text().then(function(content) {
                console.log("foo");
                console.log(content);
                simplemde.value(content);
            }, function(err){
                console.log("error: " + err);
            })
        }).catch(function(err) {
            console.error("Got error," + err);
        });

    }
</script>
</body>

</html>